FORMAT: 1A
HOST: https://api.organicity.eu/

# Organicity Assets Discovery Service

This API aims to create the foundations for a novel urban data observatory in the form of a service that allow various stakeholders (data scientists, city decision makers, organisations and citizens) to explore, with the intent to act, mixed static and real-time urban and social data streams and their exploitation in experimentation. 

It is designed following the [OASC](http://oascities.org/) principles and as an extension of the [NGSI 9/10](https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/FI-WARE_NGSI-10_Open_RESTful_API_Specification) standard, specially following the new [FIWARE-NGSI v2 Specification](http://telefonicaid.github.io/fiware-orion/api/v2/latest/)   

## Assets collection [/discovery/assets?{asset_urn}&{last_updated}&{type}&{sort}&{filter}&{order}&{offset}&{page}&{per}&{sample}&{query}]

### List All Assets [GET]

+ Parameters
    + asset_urn (string) - Filter assets by their Unique Resource Name
    + last_updated (datetime) - Filter assets by last updated date
    + type (string) - Filter access by type
    + sort (string) - Sort assets. Supported values are to be defined.
    + filter (string) - Filter assets. Supported values are to be defined.
    + order (string) - Order assets DESC or ASC.
    + offset (int) - Return assets with the given offset of N results.
    + page (int) - Return assets for the given page.
    + per (int) - Return N assets per page.
    + sample (int) - Return a random sample of N assets.
    + query (string) - Return a list of assets based on metadatadatatata search

+ Response 200 (application/json)

        {
            [
                {
                    "id": "urn:oc:entity:london:smartphone:phone:9",
                    "type": "smartphone",
                    "context": 
                        {
                            "service": "smartphone",
                            "provider": "phone",
                            "group":null,
                            "name": "9",
                            "last_updated_at":"2016-03-10T18:03:05.000Z",
                            "experiment": "56991853005557f52f277a88",
                            "position":
                            {
                                "latitude": 51.522096410000003175,
                                "longitude":-0.10705950999999999662,
                                "city": "London",
                                "country_code": "GB",
                                "country": "Great Britain"
                            },
                        },
                    "related": 
                        {
                            "service": 
                                {
                                    "type": "smartphone"
                                },
                            "provider":
                                {
                                    "type": "phone"
                                },
                            "group":
                                {
                                    "type": null,
                                },
                            "site":
                                {
                                    "id":"urn:oc:entity:london",
                                    "type": "city",
                                    "links": 
                                        {
                                            "self": "/assets/sites/urn:oc:entity:london",
                                            "related": 
                                                {
                                                    "href": "https://en.wikipedia.org/wiki/London"
                                                },
                                            "avatar": 
                                                {
                                                    "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                                                }
                                        },
                                    "position":
                                        {
                                            "latitude": 51.522096410000003175,
                                            "longitude":-0.10705950999999999662,
                                            "city": "London",
                                            "country_code": "GB",
                                            "country": "Great Britain"
                                        },
                                    "name":"London",
                                },
                            "experiment":
                                {
                                    "id": "56991853005557f52f277a88",
                                    "type": "audio",
                                    "links":
                                        {
                                            "self": "/experiments/56991853005557f52f277a88",
                                            "related": 
                                                {
                                                    "href": "http://www.greatexperiment.org/organicity",
                                                }
                                        }
                                }
                        }, 
                }
            ]
        }

## Assets services [/discovery/assets/services]

### List All Assets Services [GET]

+ Response 200 (application/json)

        {
            [   
                {   
                    "id": "1",
                    "type": "Environmental",
                    "related":
                        {
                            "cities": 
                                [
                                    { 
                                        "type": "city",
                                        "id": "1",
                                        "metadata":
                                            {
                                                "name": "Barcelona",
                                                "position": 
                                                {
                                                    "latitude": 41.3851,
                                                    "longitude": 2.1734
                                                },
                                            },
                                        "attributes":
                                            {
                                                "assets": 254,
                                                "online": 135,
                                                "offline": 119
                                            }
                                    }   
                                ]
                        }
                },
            ]
        }

## Assets service [/discovery/assets/services/{service}]

### List Assets Service [GET]

+ Parameters
    + service (string) - Filter access by service


+ Response 200 (application/json)

        {
            "id": "1",
            "type": "Environmental",
            "related":
                {
                    "cities": 
                        [
                            { 
                                "type": "city",
                                "id": "1",
                                "metadata":
                                    {
                                        "name": "Barcelona",
                                        "position": 
                                        {
                                            "latitude": 41.3851,
                                            "longitude": 2.1734
                                        },
                                    },
                                "attributes":
                                    {
                                        "assets": 254,
                                        "online": 135,
                                        "offline": 119
                                    }
                            }   
                        ]
                }
        }


## Assets sites [/discovery/assets/sites]

### List All Assets Sites [GET]

+ Response 200 (application/json)

        { 
            [
                {
                    "id":"urn:oc:entity:barcelona",
                    "type": "city",
                    "context":
                        {
                            "name": "Barcelona",
                            "position": 
                                {
                                    "latitude": 41.3851,
                                    "longitude": 2.1734
                                },
                        },
                    "attributes":
                        {
                            "assets": 254,
                            "online": 135,
                            "offline": 119
                        },
                    "links": 
                        {
                            "self": "/assets/sites/urn:oc:entity:barcelona",
                            "related": 
                                {
                                    "href": "https://en.wikipedia.org/wiki/Barcelona"
                                },
                            "avatar": 
                                {
                                    "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                                }
                        },
                },
            ]
        }


## Assets site [/discovery/assets/sites/{site}]

### List Assets Site [GET]

+ Parameters
    + site (string) - Filter access by site

+ Response 200 (application/json)

        {
            "id":"urn:oc:entity:barcelona",
            "type": "city",
            "context":
                {
                    "name": "Barcelona",
                    "position": 
                        {
                            "latitude": 41.3851,
                            "longitude": 2.1734
                        },
                },
            "attributes":
                {
                    "assets": 254,
                    "online": 135,
                    "offline": 119
                },
            "links": 
                {
                    "self": "/assets/sites/urn:oc:entity:barcelona",
                    "related": 
                        {
                            "href": "https://en.wikipedia.org/wiki/Barcelona"
                        },
                    "avatar": 
                        {
                            "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                        }
                },
        }


## Assets providers [/discovery/assets/providers]

### List All Assets Providers [GET]

+ Response 200 (application/json)

        [   
            {
                "id": "135aa31",
                "type": "phone",
                "links": 
                    {
                        "related": 
                            {
                                "href": "http://en.wikipedia.com/wiki/phone"
                            }
                    },
                "related":
                    {
                        "cities": 
                            [
                                { 
                                    "type": "city",
                                    "id": "1",
                                    "metadata":
                                        {
                                            "name": "Barcelona",
                                            "position": 
                                                {
                                                    "latitude": 41.3851,
                                                    "longitude": 2.1734
                                                },
                                        },
                                    "attributes":
                                        {
                                            "assets": 254,
                                            "online": 135,
                                            "offline": 119                                            
                                        }
                                }   
                            ]
                    }
            },
        ]
    
    
## Assets provider [/discovery/assets/providers/{provider}]

### List Assets Provider [GET]

+ Parameters
    + provider (string) - Filter access by provider

+ Response 200 (application/json)

        {
            "id": "135aa31",
            "type": "phone",
            "links": 
                {
                    "related": 
                        {
                            "href": "http://en.wikipedia.com/wiki/phone"
                        }
                },
            "related":
                {
                    "cities": 
                        [
                            { 
                                "type": "city",
                                "id": "1",
                                "metadata":
                                    {
                                        "name": "Barcelona",
                                        "position": 
                                            {
                                                "latitude": 41.3851,
                                                "longitude": 2.1734
                                            },
                                    },
                                "attributes":
                                    {
                                        "assets": 254,
                                        "online": 135,
                                        "offline": 119                                            
                                    }
                            }   
                        ]
                }
            
        }


## Assets geo search [/discovery/assets/geo/search?{lat}&{long}&{radius}&{query}&{points}&{ip}&{city}]

### Assets geo search [GET]

+ Response 200 (application/json)

+ Parameters
    + lat (string) - Center latitude for geographical queries
    + long (string) - Center longitude for geographical queries
    + radius (string) - Spherical radius for geographical queries
    + query (string) - At the moment only query="polygon" is supported
    + points (array) - Array of geographical coordinates
    + ip (string) - IP address
    + city (string) - City name for geographical queries
    

        {
            [
                {
                    "id": "urn:oc:entity:london:smartphone:phone:9",
                    "type": "smartphone",
                    "context": 
                        {
                            "service": "smartphone",
                            "provider": "phone",
                            "group":null,
                            "name": "9",
                            "last_updated_at":"2016-03-10T18:03:05.000Z",
                            "experiment": "56991853005557f52f277a88",
                            "position":
                            {
                                "latitude": 51.522096410000003175,
                                "longitude":-0.10705950999999999662,
                                "city": "London",
                                "country_code": "GB",
                                "country": "Great Britain"
                            },
                        },
                    "related": 
                        {
                            "service": 
                                {
                                    "type": "smartphone"
                                },
                            "provider":
                                {
                                    "type": "phone"
                                },
                            "group":
                                {
                                    "type": null,
                                },
                            "site":
                                {
                                    "id":"urn:oc:entity:london",
                                    "type": "city",
                                    "links": 
                                        {
                                            "self": "/assets/sites/urn:oc:entity:london",
                                            "related": 
                                                {
                                                    "href": "https://en.wikipedia.org/wiki/London"
                                                },
                                            "avatar": 
                                                {
                                                    "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                                                }
                                        },
                                    "position":
                                        {
                                            "latitude": 51.522096410000003175,
                                            "longitude":-0.10705950999999999662,
                                            "city": "London",
                                            "country_code": "GB",
                                            "country": "Great Britain"
                                        },
                                    "name":"London",
                                },
                            "experiment":
                                {
                                    "id": "56991853005557f52f277a88",
                                    "type": "audio",
                                    "links":
                                        {
                                            "self": "/experiments/56991853005557f52f277a88",
                                            "related": 
                                                {
                                                    "href": "http://www.greatexperiment.org/organicity",
                                                }
                                        }
                                }
                        },
                }
            ]
        }

## Assets search metadata [/discovery/assets/metadata?{query}]

### Assets search metadata [GET]

+ Parameters
    + query (string) - metadata query string

+ Response 200 (application/json)

            
        {
            [
                {
                    "id": "urn:oc:entity:london:smartphone:phone:9",
                    "type": "smartphone",
                    "context": 
                        {
                            "service": "smartphone",
                            "provider": "phone",
                            "group":null,
                            "name": "9",
                            "last_updated_at":"2016-03-10T18:03:05.000Z",
                            "experiment":"56991853005557f52f277a88",
                            "position":
                            {
                                "latitude": 51.522096410000003175,
                                "longitude":-0.10705950999999999662,
                                "city": "London",
                                "country_code": "GB",
                                "country": "Great Britain"
                            },
                        },
                    "related": 
                        {
                            "service": 
                                {
                                    "type": "smartphone"
                                },
                            "provider":
                                {
                                    "type": "phone"
                                },
                            "group":
                                {
                                    "type": null,
                                },
                            "site":
                                {
                                    "id":"urn:oc:entity:london",
                                    "type": "city",
                                    "links": 
                                        {
                                            "self": "/assets/sites/urn:oc:entity:london",
                                            "related": 
                                                {
                                                    "href": "https://en.wikipedia.org/wiki/London"
                                                },
                                            "avatar": 
                                                {
                                                    "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                                                }
                                        },
                                    "position":
                                        {
                                            "latitude": 51.522096410000003175,
                                            "longitude":-0.10705950999999999662,
                                            "city": "London",
                                            "country_code": "GB",
                                            "country": "Great Britain"
                                        },
                                    "name":"London",
                                },
                            "experiment":
                                {
                                    "id": "56991853005557f52f277a88",
                                    "type": "audio",
                                    "links":
                                        {
                                            "self": "/experiments/56991853005557f52f277a88",
                                            "related": 
                                                {
                                                    "href": "http://www.greatexperiment.org/organicity",
                                                }
                                        }
                                }
                        },  
                }
            ]
        }
        

## Asset [/discovery/assets/{asset_urn}]

+ Parameters
    + asset_urn (string) - Unique Resource Name of the asset

### Retrieve Asset by URN [GET]

+ Response 200 (application/json)

        {
            "id": "urn:oc:entity:london:smartphone:phone:9",
            "type": "smartphone",
            "context": 
                {
                    "service": "smartphone",
                    "provider": "phone",
                    "group":null,
                    "name": "9",
                    "last_updated_at":"2016-03-10T18:03:05.000Z",
                    "experiment":"56991853005557f52f277a88",
                    "position":
                        {
                            "latitude": 51.522096410000003175,
                            "longitude":-0.10705950999999999662,
                            "city": "London",
                            "country_code": "GB",
                            "country": "Great Britain"
                        }
                },
            "related": 
                {
                    "service": 
                        {
                            "type": "smartphone"
                        },
                    "provider":
                        {
                            "type": "phone"
                        },
                    "group":
                        {
                            "type": null,
                        },
                    "site":
                        {
                            "id":"urn:oc:entity:london",
                            "links": 
                                {
                                    "related": 
                                        {
                                            "href": "https://en.wikipedia.org/wiki/London"
                                        },
                                    "avatar": 
                                        {
                                            "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                                        }
                                },
                            "metadata":
                                {
                                    "position":
                                        {
                                            "latitude": 51.522096410000003175,
                                            "longitude":-0.10705950999999999662,
                                            "city": "London",
                                            "country_code": "GB",
                                            "country": "Great Britain"
                                        },
                                    "name":"London",
                                },
                        },
                    "experiment":
                        {
                            "id": "56991853005557f52f277a88",
                            "type": "audio",
                            "links":
                                {
                                    "self": "/experiments/56991853005557f52f277a88",
                                    "related": 
                                        {
                                            "href": "http://www.greatexperiment.org/organicity",
                                        }
                                }
                        }
                },
        }
    

## Asset data [/discovery/assets/{asset_urn}/data]

The data model follows NGSI 9/10 model defined in Organicity Assets Directory. 

### Retrieve Asset data [GET]

+ Response 200 (application/json)

        {
            "id": "urn:oc:entity:london:smartphone:phone:9",
            "type": "rawdata",
            "context": 
                {   
                    "service": "smartphone",
                    "provider": "phone",
                    "group":null,
                    "name": "9",
                    "last_updated_at":"2016-03-10T18:03:05.000Z",
                    "recorded_at":"2016-03-10T18:03:05.000Z",
                    "experiment":"56991853005557f52f277a88",
                    "position":
                        {
                            "latitude": 51.522096410000003175,
                            "longitude":-0.10705950999999999662,
                            "city": "London",
                            "country_code": "GB",
                            "country": "Great Britain"
                        },
                },
            "attributes":
                [
                            {
                                "name": "historicdata",
                                "type": "string",
                                "value": "https://api.transportapi.com/v1/",
                                "metadata": [{
                                    "name": "internal",
                                    "type": "boolean",
                                    "value": "false"
                                }, {
                                    "name": "documentation",
                                    "type": "string",
                                    "value": "https://developer.transportapi.com/"
                                }]
                            },
                            {
                                "name": "historicdata",
                                "type": "string",
                                "value": "http://santander.organicity.eu/entities/",
                                "metadata": [{
                                    "name": "internal",
                                    "type": "boolean",
                                    "value": "true"
                                }]
                            },
                            {
                                "name": "historicdata",
                                "type": "string",
                                "value": "http://datos.santander.es/resource?ds=sensores-parking-superficie&id=3b9de218-9678-4ebe-9390-b2bad7cfe6cb&ft=XML",
                                "metadata": [{
                                "name": "internal",
                                    "type": "boolean",
                                    "value": "false"
                                }, {
                                    "name": "mediatype",
                                    "type": "string",
                                    "value": "XML"
                                }]
                            },            
                            {
                                "type": "soundPressureLevel:ambient",
                                "isPattern":"false",
                                "id": "urn:oc:entity:london:enableiot:fixed:02‐00‐86‐76‐97‐26",
                                "attributes" : 
                                    [
                                        {
                                            "name" : "description",
                                            "type" : "urn:oc:attributeType:description",
                                            "value" : "Edison - IC Room 5"
                                        }, 
                                        {
                                            "name" : "soundPressureLevel:ambient",
                                            "type": "urn:oc:attributeType:soundPressureLevel:ambient",
                                            "value" : "60.0",
                                            "metadata" : 
                                                [
                                                    {
                                                        "name" : "unit",
                                                        "type" : "urn:oc:uom:decibel",
                                                        "value" : "decibel"
                                                    }, 
                                                    {
                                                        "name" : "datatype",
                                                        "type" : "urn:oc:datatype:numeric",
                                                        "value" : "numeric"
                                                    }
                                                ]
                                        }
                                    ]
                            }
                        ]
                ]
        }

## Asset data v2 [/discovery/assets/{asset_urn}/data/v2]

The data model follows NGSI v2 approach removing the original XML legacy. It also groups the data based on the Assets structure defined in D2.1 Section 4.5.1, this improve performance on data parsing and presentation.

### Retrieve Asset data v2 [GET]

+ Response 200 (application/json)

        {
            "id": "urn:oc:entity:london:smartphone:phone:9",
            "type": "rawdata",
            "context": 
                {   
                    "service": "smartphone",
                    "provider": "phone",
                    "group":null,
                    "name": "9",
                    "last_updated_at":"2016-03-10T18:03:05.000Z",
                    "recorded_at":"2016-03-10T18:03:05.000Z",
                    "experiment":"56991853005557f52f277a88",
                    "position":
                        {
                            "latitude": 51.522096410000003175,
                            "longitude":-0.10705950999999999662,
                            "city": "London",
                            "country_code": "GB",
                            "country": "Great Britain"
                        },
                },
            "attributes":
                [
                    "historic":
                        [
                            {
                                "type": "dataset",
                                "value": "https://api.transportapi.com/v1/",
                                "metadata": {
                                    "internal": {
                                        "value": "false",
                                        "type": "boolean"
                                    },
                                    "documentation": {
                                        "value": "https://developer.transportapi.com/",
                                        "type": "href"
                                    },
                                },
                            },
                            {
                                "type": "raw",
                                "value": "http://santander.organicity.eu/entities/",
                                "metadata": {
                                    "internal": {
                                        "value": "true",
                                        "type": "boolean"
                                    }
                                }
                            },
                            {
                                "type": "dataservice",
                                "value": "http://datos.santander.es/resource?ds=sensores-parking-superficie&id=3b9de218-9678-4ebe-9390-b2bad7cfe6cb&ft=XML",
                                "metadata": {
                                    "internal": {
                                        "value": "false",
                                        "type": "boolean"
                                    },
                                    "mediatype": {
                                        "value": "XML",
                                        "type": "d"
                                    },
                                },
                            }            
                        ],
                    "observations": 
                        [
                            {
                                "type": "soundPressureLevel:ambient",
                                "isPattern":"false",
                                "id": "urn:oc:entity:london:enableiot:fixed:02‐00‐86‐76‐97‐26",
                                "attributes" : 
                                    {
                                        "description": {
                                            "value" : "Edison - IC Room 5"
                                            "type" : "urn:oc:attributeType:description",
                                        },
                                        "soundPressureLevel:ambient": {
                                            "type": "urn:oc:attributeType:soundPressureLevel:ambient",
                                            "value" : "60.0",
                                            "metadata": {
                                                "unit": {
                                                    "type" : "urn:oc:uom:decibel",
                                                    "value" : "decibel"
                                                },
                                                "datatype": {
                                                    "type" : "urn:oc:datatype:numeric",
                                                    "value" : "numeric"
                                                },
                                            }
                                        }
                                    }
                            }
                        ]
                ]
        }


## Asset search nearby [/discovery/assets/{asset_urn}/nearby?{radius}&{city}&{query}&{points}]

### Search Assets nearby to URN [GET]

+ Response 200 (application/json)

+ Parameters
    + asset_urn (string) - Unique Resource Name of the asset
    + radius (string) - Spherical radius for geographical queries
    + query (string) - At the moment only query="polygon" is supported
    + points (array) - Array of geographical coordinates. Assets lat and long are taken as starting point.
    + city (string) - City name for geographical queries
    

       {
            [
                {
                    "id": "urn:oc:entity:london:smartphone:phone:9",
                    "type": "smartphone",
                    "context": 
                        {
                            "experiment": "56991853005557f52f277a88"
                            "service": "smartphone",
                            "provider": "phone",
                            "group":null,
                            "name": "9",
                            "last_updated_at":"2016-03-10T18:03:05.000Z",
                            "experiment":"56991853005557f52f277a88",
                            "position":
                            {
                                "latitude": 51.522096410000003175,
                                "longitude":-0.10705950999999999662,
                                "city": "London",
                                "country_code": "GB",
                                "country": "Great Britain"
                            },
                        },
                    "related": 
                        {
                            "service": 
                                {
                                    "type": "smartphone"
                                },
                            "provider":
                                {
                                    "type": "phone"
                                },
                            "group":
                                {
                                    "type": null,
                                },
                            "site":
                                {
                                    "id":"urn:oc:entity:london",
                                    "type": "city",
                                    "links": 
                                        {
                                            "self": "/assets/sites/urn:oc:entity:london",
                                            "related": 
                                                {
                                                    "href": "https://en.wikipedia.org/wiki/London"
                                                },
                                            "avatar": 
                                                {
                                                    "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                                                }
                                        },
                                    "position":
                                        {
                                            "latitude": 51.522096410000003175,
                                            "longitude":-0.10705950999999999662,
                                            "city": "London",
                                            "country_code": "GB",
                                            "country": "Great Britain"
                                        },
                                    "name":"London",
                                },
                            "experiment":
                                {
                                    "id": "56991853005557f52f277a88",
                                    "type": "audio",
                                    "links":
                                        {
                                            "self": "/experiments/56991853005557f52f277a88",
                                            "related": 
                                                {
                                                    "href": "http://www.greatexperiment.org/organicity",
                                                }
                                        }
                                }
                        },    
                }
            ]
        }
        
## List All Experiments [/discovery/experiments/{experiment_id}]

### List All Experiments [GET]

+ Response 200 (application/json)

+ Parameters
    + experiment_id (string) - Unique Resource Name of the experiment
    

       {
            [
                {
                    "id": "56991853005557f52f277a88",
                    "type": "audio",
                    "experimenterId": "da41542651515151514141",
                    "registered": "2016-03-10T18:03:05.000Z",
                    "expirationTime": "2016-10-10T18:03:05.000Z",
                    "startingTime": "2016-04-10T18:03:05.000Z",
                    "status": "active",
                    "experimentArea": 
                        [
                            "position":
                                {
                                    "latitude": 51.522096410000003175,
                                    "longitude":-0.10705950999999999662,
                                },
                        ],
                    "keywords": 
                        [
                            "sound", "device", "iot"
                        ],
                    "assets":
                        [
                            {
                                "id": "urn:oc:entity:london:smartphone:phone:9",
                                "type": "smartphone",
                                "context": 
                                    {
                                        "experiment": "56991853005557f52f277a88"
                                        "service": "smartphone",
                                        "provider": "phone",
                                        "group":null,
                                        "name": "9",
                                        "last_updated_at":"2016-03-10T18:03:05.000Z",
                                        "position":
                                        {
                                            "latitude": 51.522096410000003175,
                                            "longitude":-0.10705950999999999662,
                                            "city": "London",
                                            "country_code": "GB",
                                            "country": "Great Britain"
                                        },
                                    },
                                "related": 
                                    {
                                        "service": 
                                            {
                                                "type": "smartphone"
                                            },
                                        "provider":
                                            {
                                                "type": "phone"
                                            },
                                        "group":
                                            {
                                                "type": null,
                                            },
                                        "site":
                                            {
                                                "id":"urn:oc:entity:london",
                                                "type": "city",
                                                "links": 
                                                    {
                                                        "self": "/assets/sites/urn:oc:entity:london",
                                                        "related": 
                                                            {
                                                                "href": "https://en.wikipedia.org/wiki/London"
                                                            },
                                                        "avatar": 
                                                            {
                                                                "href": "http://cliparts.co/cliparts/LTd/jL4/LTdjL4djc.jpg",
                                                            }
                                                    },
                                                "position":
                                                    {
                                                        "latitude": 51.522096410000003175,
                                                        "longitude":-0.10705950999999999662,
                                                        "city": "London",
                                                        "country_code": "GB",
                                                        "country": "Great Britain"
                                                    },
                                                "name":"London",
                                            },
                                    },
                            },
                        ]
                },

            ]
        }